[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
flake8 = "*"
pycodestyle = "*"
matplotlib = "*"
opencv-python = "*"
imutils = "*"
carreralib = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
